.profile__edit-button {
  padding: 0;
  border: 0;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
  width: 18px;
  height: 18px;
  }
}