.profile__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  display: inline-block;
  text-align: start;
  padding-bottom: 16px;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .profile__title {
    padding-top: 26px;
    padding-bottom: 14px;
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
  }
}
